html,body{
  height: 100%;
  min-height: 100vh;
}

#sidebar{
  height: 100%;
  min-height: 100vh;
  min-width: 180px;
}

.box {
  background-color: lightgrey;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  overflow: auto;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(6, 250px);
  grid-template-rows: repeat(6, 100px);
}

.center_item{
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashcontainer{
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 500px);
  grid-template-rows: repeat(2, 200px);
}