html,body{
  height: 100%;
}

#sidebar{
  height: 100%;
  min-height: 100vh;
  min-width: 180px;
}

.box {
  background-color: lightgrey;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, 300px);
  grid-template-rows: repeat(5, 100px);
}